<h2>Aankoop geslaagd</h2>
<p>Bedankt voor je vertrouwen in Xposers. Wij nemen zo spoedig mogelijk contact met je op voor de verdere afhandeling, betaling en verzending. Tevens ontvang je een e-mail ontvangen met alle details van de aankoop.</p>