<% mail = Intmail.find_by_id(2) %>

<p><%= mail.title %></p>

<%
  url = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
  link = link_to url, url 

  username = "#{@resource.voornaam} #{@resource.tussenvoegsel unless @resource.tussenvoegsel.blank?} #{@resource.achternaam}"
  text = mail.message.sub("<username>", username)
  text = text.sub("<link>", link)
%>

<%= simple_format text.html_safe %>
