<% mail = Intmail.find_by_id(3) %>

<p><%= mail.title %></p>

<%
  url = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  link = link_to url, url 

  username = "#{@resource.voornaam} #{@resource.tussenvoegsel unless @resource.tussenvoegsel.blank?} #{@resource.achternaam}"
  text = mail.message.sub("<username>", username)
  text = text.sub("<link>", link)
%>

<%= simple_format text.html_safe %>
