
      <div class="adsense-loader" style="display:block;">
        <script type="text/javascript">
          <!--
          google_ad_client = "ca-pub-9030540237247234";
          /* 250x250, gemaakt 8-5-11 */
          google_ad_slot = "5735687854";
          google_ad_width = 250;
          google_ad_height = 450;
          //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
      </div>
      <div class="adsense-loader" style="display:block;">
        <script type="text/javascript">
          <!--
          google_ad_client = "ca-pub-9030540237247234";
          /* 250x250, gemaakt 8-5-11 */
          google_ad_slot = "5735687854";
          google_ad_width = 250;
          google_ad_height = 450;
          //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
      </div>
