 <div id="header">
        <h1 onclick="document.location.href = '<%= url_for root_url %>'">
          <a href="<%= url_for root_url %>">xposers</a></h1>
        <h2>Laat zien wat je maakt</h2>
        <div id="smenu">
            <%= render :partial => 'layouts/topmenu'  %>
        </div>
  </div>
